@import url('/css/global.css');

button {
    position: absolute;
    top: 50%;
}

.carrusel-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.carrusel-images img {
    max-width: 100%;
    height: 100%;
}