@import url('/css/global.css');

section {
    margin-bottom: 80px;
}

.carrusel-container {
    position: relative;
    overflow: hidden;
}

.carrusel-images {
    display: flex;
    gap: 0;
    transition: transform 0.4s ease-in-out;
    will-change: transform;
}

.carrusel-images img {
    filter: saturate(0);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / 3);
    max-width: calc(100% / 3);
    height: 100vh;
}

.carrusel-btn {
    background-color: transparent;
    border: 3px solid var(--bone-white);
    color: var(--bone-white);
    cursor: pointer;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    padding: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#left {
    position: absolute;
    top: 50%;   
    left: 30px;
}

#right {
    position: absolute;
    top: 50%;
    right: 30px;
}

#left[disabled] {
    transform: translateX(-200%);
    transition: transform 0.3s ease-in-out;
}

#right[disabled] {
    transform: translateX(200%);
    transition: transform 0.3s ease-in-out;
}

/* Pseudoclasses */
.carrusel-btn:hover {
    border-color: var(--old-gold);
    color: var(--carbon-black);
    box-shadow: none;
}

.carrusel-images img:hover {
    filter: saturate(1);
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
}