/* Global Styles */
:root {
    --carbon-black: #0D0D0D;
    --bone-white: #F5F5F5;
    --dark-gray: #2D2D2D;
    --old-gold: #C5A880;
    --blood-red: #B22222;
}

@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: var(--bone-white);
    color: var(--carbon-black);
    font-family: 'Oswald', sans-serif;
}

/* Typography */
h1 {
    font-size: 32px;
    line-height: 47px;
}

h2 {
    font-size: 24px;
    line-height: 36px;
}

h3 {
    font-size: 20px;
    line-height: 30px;
}

h4 {
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    font-weight: normal;
}

p {
    font-family: 'Roboto', monospace;
    font-size: 16px;
    line-height: 21px;
}

a {
    color: var(--bone-white);
    text-decoration: none;
    height: auto;
}

/* Button */
button {
    background-color: var(--carbon-black);
    color: var(--bone-white);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

/* Navigation Bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(13, 13, 13, 0.85);
    color: var(--bone-white);
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 40px;
}

nav a {
    font-weight: 500;
    font-size: 20px;
}

/* Footer */
footer {
    background-color: var(--dark-gray);
    color: var(--bone-white);
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 0;
}

.legal-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 5px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.social-media a {
    height: 40px;
}

/* Pseudoclasses */
a:hover, a:focus {
    color: var(--old-gold);
}

button:hover {
    background-color: var(--old-gold);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}