:root {
    --carbon-black: #0D0D0D;
    --bone-white: #F5F5F5;
    --dark-gray: #2D2D2D;
    --old-gold: #C5A880;
    --blood-red: #B22222;
}

@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: var(--bone-white);
    color: var(--carbon-black);
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Roboto', monospace;
}

a {
    color: var(--bone-white);
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(13, 13, 13, 0.85);
    color: var(--bone-white);
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 40px;
}

nav a {
    font-weight: 500;
    font-size: 20px;
}

section {
    padding: 30px 0;
}



.hero {
    width: 100%;
    height: 100vh;
    background-image: url(/img/hero.png);
    background-size: cover;
    background-position: 10% 20%;
}

.section-title {
    text-align: center;
}

.section-content {
    margin: 0 auto;
    display: flex;
    width: 50%;
    gap: 20px;
    margin-bottom: 60px;
}

.section-content > h2 {
    width: 50%;
}

.section-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.section-images img {
    width: 100%;
    height: 100%;
}

.testimonials-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-gray);
    color: var(--bone-white);
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    width: 25%;
}

.card img {
    border-radius: 50%;
}

.card p {
    font-size: 14px;
    margin-top: 20px;
}

button {
    background-color: var(--carbon-black);
    color: var(--bone-white);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: var(--dark-gray);
    color: var(--bone-white);
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

/* Pseudo */
section:first-of-type {
    padding: 0;
    margin: 0;
}

nav a:hover, footer a:hover {
    color: var(--old-gold);
}