@import url('/css/global.css');

section {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100vh;
    align-items: center;
    margin-bottom: 20px;
}

.imagen-artista {
    background-image: url(/img/tatuadores/6.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.contenido {
    padding: 0 200px;
}

.galeria-tatuajes {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 40px;
}

.galeria-tatuajes img {
    width: 100%;
    object-fit: cover;
}

#backButton {
    grid-column: 1 / 3;
    cursor: pointer;
    width: 20%;
    justify-self: center;
}