@import url('./assets/css/global.css');

section {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100vh;
    align-items: center;
    margin-bottom: 20px;
}

.imagen-artista {
    background-image: url(./assets/img/tatuadores/6.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.contenido {
    padding: 0 100px;
}

.galeria-tatuajes {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 40px;
}

.galeria-tatuajes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#backButton {
    grid-column: 1 / 3;
    cursor: pointer;
    justify-self: center;
}

/* Media Queries */
@media (max-width: 767px) {
    section {
        display: flex;
        flex-direction: column;
    }

    .contenido {
        padding: 0 50px;
    }

    .imagen-artista {
        height: 100vh;
    }

    .galeria-tatuajes {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1500px) {
    section {
        display: flex;
        flex-direction: column;
    }

    .contenido {
        padding: 0 50px;
    }

    .imagen-artista {
        height: 100vh;
    }

    .galeria-tatuajes {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
}