@import url('./global.css');

section {
    padding: 50px 0;
    margin-top: 4%;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
}

h1 {
    text-align: center;
}

.tabla-mensajes {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.tabla-mensajes th {
    background: var(--carbon-black);
    color: var(--bone-white);
    padding: 15px;
    text-align: left;
}

.tabla-mensajes td {
    padding: 15px 15px;
    border-bottom: 1px solid #e0e0e0;
}

.tabla-mensajes tr:hover {
    background-color: #f9f9f9;
    transition: background-color 0.2s ease;
}

.tabla-mensajes tr:last-child td {
    border-bottom: none;
}

.tabla-mensajes button {
    background-color: var(--blood-red);
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.tabla-mensajes button:hover {
    background-color: #8B0000;
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.datos {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.foto img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

#imagen {
    padding: 10px;
}

.galeria {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 0 50px;
    gap: 20px;
    margin-top: 30px;
}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

/* Media Queries */
@media (max-width: 767px) {
    .datos {
        grid-template-columns: 1fr;
    }
    .galeria {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .datos {
        grid-template-columns: 1fr;
    }
    .galeria {
        grid-template-columns: 1fr 1fr;
    }
}