@import url('./global.css');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--carbon-black);
}

h2 {
    text-align: center;
}

form {
    background-color: var(--bone-white);
    padding: 30px;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    width: 100%;
}

/* Media Queries */
@media (max-width: 767px) {
    form {
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
   form {
        width: 70%;
    }
}