@import url('/assets/css/global.css');

section {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100vh;
    align-items: center;
    margin-bottom: 20px;
}

.imagen-estudio {
    background-image: url(/assets/img/estudio/sala-interior.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.contenido {
    padding: 0 100px;
}

/* Media Queries */
@media (max-width: 767px) {
    section {
        display: flex;
        flex-direction: column;
    }

    .contenido {
        padding: 0 50px;
    }

    .imagen-estudio {
        height: 100vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    section {
        display: flex;
        flex-direction: column;
    }

    .contenido {
        padding: 0 50px;
    }

    .imagen-estudio {
        height: 100vh;
    }
}