@import url('/assets/css/global.css');

section {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100vh;
    align-items: center;
    margin-bottom: 20px;
}

.imagen-estudio {
    background-image: url(/assets/img/hero.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.contenido {
    padding: 0 200px;
}